<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="about.css" />
    <title>About</title>
  </head>
  <body>
    <header>
      <nav>
        <ul class="navbar-list">
          <li>
            <img class="logo-image" src="../images/LARS_LOGO.png" alt="logo" />
          </li>
          <li>
            <ul class="menu-list">
              <li><a href="../index.html">Work</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="news.html">News</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <div>
      <img src="https://images.squarespace-cdn.com/content/v1/5d5e6a57e7a27b0001395f6e/1572256947996-P1OBBDUDXL94R021X61I/IMG_7460_BW.jpg?format=1500w" alt="">
      </div>
      <p>Lars Tornøe is a Norwegian design studio devoted to furniture design and related fields of product design, working with various clients from Scandinavia and US. 

        Tornøe’s work has received several awards such as the DogA award, Red Dot Award and Designer of The Year by Bo Bedre Magazine.</p>
      <div>
        <ul class="contact-list">
          <li>Adress:</li>
          <li>Kvitsøygata 10A
            4014 Stavanger
            Norway</li>
            <li class="bold">Email:</li>
            <li>hello@larstornoe.com</li> 
            <li class="bold">Phone:</li>
            <li>+47 90 88 77 61</li>
            <li class="bold">Facebook:</li>
            <li>LarsTornoe.Design</li>
            <li class="bold">Instagram:</li>
            <li>@larstornoe</li>
        </ul>
      </div>
    
  </body>
</html>
