<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="news.css" />
    <title>News</title>
  </head>
  <body>
    <header>
      <nav>
        <ul class="navbar-list">
          <li>
            <img class="logo-image" src="../images/LARS_LOGO.png" alt="logo" />
          </li>
          <li>
            <ul class="menu-list">
              <li><a href="../index.html">Work</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="news.html">News</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <ul class="main-list">
        <li>
          <div>
            <img
              src="../images/TohyeTind1500sofaerogS-bord_ForaForm.jpg"
              alt="ipsum"
            />
            <h2>dolorum</h2>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
              sunt sequi dolorum porro corporis odio vero sapiente delectus.
            </p>
            <p>nov 29, 2019</p>
          </div>
        </li>
        <li>
          <div>
            <img src="../images/Pinch-monstera.jpg" alt="Clover" />
            <h2>Clover</h2>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
              sunt sequi dolorum porro corporis odio vero sapiente delectus.
            </p>
            <p>nov 29, 2019</p>
          </div>
        </li>
        <li>
          <div>
            <img src="../images/KizuTableLampWhiteMarbleSmall.jpg" alt="Tind" />
            <h2>Tind</h2>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
              sunt sequi dolorum porro corporis odio vero sapiente delectus.
            </p>
            <p>nov 29, 2019</p>
          </div>
        </li>
        <li>
          <div>
            <img src="../images/The_Dots.jpg" alt="Clover" />
            <h2>Clover</h2>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
              sunt sequi dolorum porro corporis odio vero sapiente delectus.
            </p>
            <p>nov 29, 2019</p>
          </div>
        </li>
        <li>
          <div>
            <img
              src="../images/TohyeTind1500sofaerogS-bord_ForaForm.jpg"
              alt="Scoop"
            />
            <h2>Scoop launch</h2>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
              sunt sequi dolorum porro corporis odio vero sapiente delectus.
            </p>
            <p>nov 29, 2019</p>
          </div>
        </li>
        <li>
          <div>
            <img src="../images/Pinch-monstera.jpg" alt="ipsum" />
            <h2>Lorem ipsum</h2>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
              sunt sequi dolorum porro corporis odio vero sapiente delectus.
            </p>
            <p>nov 29, 2019</p>
          </div>
        </li>
        <li>
          <div>
            <img
              src="../images/KizuTableLampWhiteMarbleSmall.jpg"
              alt="dolor"
            />
            <h2>dolor</h2>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
              sunt sequi dolorum porro corporis odio vero sapiente delectus.
            </p>
            <p>nov 29, 2019</p>
          </div>
        </li>
        <li>
          <div>
            <img src="../images/Coil3.jpg" alt="amet" />
            <h2>amet</h2>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
              sunt sequi dolorum porro corporis odio vero sapiente delectus.
            </p>
            <p>nov 29, 2019</p>
          </div>
        </li>
        <li>
          <div>
            <img
              src="../images/Hex-desert_heymat_05_larstornoe_liveberg_sofiebrovold.jpg"
              alt="corporis"
            />
            <h2>corporis</h2>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
              sunt sequi dolorum porro corporis odio vero sapiente delectus.
            </p>
            <p>nov 29, 2019</p>
          </div>
        </li>
      </ul>
    </main>
  </body>
</html>
